{
    "headless": {{ headless }},
    "secret_key": "{{ secret_key }}",
    "endpoint": "{{ endpoint }}",
    "agent_id": "{{ agent_id }}",
    "template_id": "{{ template_id }}",
    "protocol": "{{ protocol }}",
    "labels": "{{ labels }}",
    "tlscert": "{{ tlscert }}",
    "tlskey": "{{ tlskey }}",
    "cacert": "{{ cacert }}"
}
