[Unit]
Description=observIQ Agent
After=network.target
[Service]
Type=simple
PIDFile=/tmp/observiq-agent.pid
User={{ service_user }}
Group={{ service_user }}
Environment=BP_AGENT_HOME={{ install_dir }}
Environment=PATH=/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin
WorkingDirectory={{ install_dir }}
ExecStart={{ install_dir }}/launcher/bpagent-launcher-linux-amd64
SuccessExitStatus=143
TimeoutSec=0
StandardOutput=null
[Install]
WantedBy=multi-user.target